body{
	margin:0;
	font-family: arial;

}

header {
	background: #999;
	color: white;
	margin: 0;
	padding: 5px 15px 0 15px;
	overflow:hidden;
}

header h1{
	margin: 0;
	display: inline;
}

header h1 a:link{
	color: white;
	text-decoration: none;
}

header h1 a:visited {
	color: white;
	text-decoration: none;
}
header h1 a:hover {
	color: white;
	text-decoration: none;
}
header h1 a:active {
	color: white;
}

p {
	
	color: black;
}

div {
	width: 800px; 
	text-align: justify; 
	margin-left: auto; 
	margin-right: auto;
}

canvas{
	border:1px solid #666; margin-left: auto; margin-right: auto;
	padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

nav ul{
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
	border-radius: 5px 0px 0px 0px;
}

nav ul li {
	border-radius: 5px 5px 0 0;
	box-shadow: 2px 0px 5px #999;
	display: inline-block;
	list-style-type:none;
	background: white;
	color: #555;
	padding: 2px 15px;
	margin: 0;
}

nav ul li:hover {
	border-radius: 5px 5px 0 0;
	box-shadow: 0px 0px 15px white;
	display: inline-block;
	list-style-type:none;
	background: black;
	color: white;
	padding: 2px 15px;
	margin: 0;
}

nav ul li a {
	color: #999;
	text-decoration: none;
}

.row{
	
}

.row:after {
	content: " ";
	display: table;
	clear:both;
}

.col {
	border-radius: 5px;
	padding: 2px .5% 2px .5%;
	background: #333;
	margin: 1%;
	float: left;
	width:30%;
}

footer{
	font-size: 5;
	clear:both;
}